---
title: pidgey
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        body {
            background-color: #242424;
            color: rgb(156, 156, 156); 
            font-family: Arial, Helvetica, sans-serif;
            padding-left: 20px;
            padding-top: 10px;
        }
        a:visited, a:link, a:hover, a:active {
            color: rgb(87, 153, 242);
            background-color: transparent;
            text-decoration: none;
        }
    </style>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>